.orderItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    >*:not(.buttons) {
        width: 25%;
    }

    p, span {
        margin-top: auto;
        margin-bottom: auto;
    }

    img {
        height: 4em;
        margin: auto;
    }

    .buttons {
        width: 60%;
    }
}